- name: Create settings.xml
  run: |
    cat << EOF > /home/runner/work/03_03-cicd-software-packages/03_03-cicd-software-packages/settings.xml
    <settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                          https://maven.apache.org/xsd/settings-1.0.0.xsd">
      <servers>
        <server>
          <id>github</id> <!-- This should match the id in your pom.xml file -->
          <username>rewyekha</username>
          <password>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</password>
        </server>
      </servers>
    </settings>
    EOF
  env:
    GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
  
